<div class="new_form">
  <form class="animals" action="/animals" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="">
    <label for="type">Type:</label>
    <input type="text" id="type" name="type" value="">
    <label for="date-of-birth">D/O/B:</label>
    <input type="date" id="date-of-birth" name="date_of_birth">
    <label for="fav-colour">Favourite Colour:</label>
    <input type="color" id="fav-colour" name="fav_colour" value="">
    <label for="age">Age:</label>
    <input type="text" id="age" name="age" value="">

    <select id="human-id" name="human_id">
      <% for human in @humans %>
      <option value="<%= human.id %>"><%= human.name %></option>
      <% end %>
    </select>

    <button type="submit" name="animals">Add Animal</button>
</form>

</div>
