<p>Welcome to St. Tina's Hope </p>

<h2>Waiting Queue</h2>
<p>list of unassigned animals</p><table>
<tr>
  <td> >Animal Name 1 </td>
  <td> >Human</td>
  <td> time waiting</td>
  <td> urgency</td>
  <td> >assign vet</td>
</tr>
<tr>
  <td> >Animal Name 2 </td>
  <td> >Human</td>
  <td> time waiting</td>
  <td> urgency</td>
  <td> >assign vet</td>
</tr>
<tr>
  <td> >Animal Name 2 </td>
  <td> >Human</td>
  <td> time waiting</td>
  <td> urgency</td>
  <td> >assign vet</td>
</tr>
<tr></tr>
<tr></tr>
<tr></tr>
</table>

<table>
  <tr>
    <td><h2>Animals</h2><p>add new</p><p>assign to human</p><p>check meds</p></td>
    <td><h2>Vets</h2><p>add new</p><p>delete</p></td>
  </tr>
  <tr>
    <td><h2>Humans</h2><p>add new</p><p>assign new animal</p></td>
    <td><h2>Notes</h2><p>Create Note</p></td>
  </tr>
  <tr>
    <td><h2>Medicines</h2><p>add new</p></td>
  </tr>
</table>
