<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>St Tina's Hope</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/tables.css">
    <!-- <link rel="stylesheet" href="/css/animals.css"> -->
    <!-- <link rel="stylesheet" href="/css/humans.css"> -->
    <link rel="stylesheet" href="/css/vets.css">
    <!-- <link rel="stylesheet" href="/css/notes.css"> -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/forms.css">
  </head>
  <body class="site">

    <nav class="menu_container">

      <div class="menu">

        <div class ="left">
          <div class="home"><a href="/">Home</a></div>
          <div class="animals"><a href="/animals">Animals</a></div>
          <div class="humans"><a href="/humans">Humans</a></div>
          </div>

        <div class ="mid">
          <div class="logo">
            <a href="/">
              <img src="/images/logo.svg" alt="St Tinas Hope Logo">
            </a>
          </div>
        </div>

        <div class="right">

          <div class="medicines"><a href="/medicines">Medicines</a></div><div class="notes"><a href="/notes">Notes</a></div>
          <div class="vets"><a href="/vets">Vets</a></div>

        </div>

      </div>

    </nav>

    <div class="body-container">
          <%= yield %>
    </div>
<!-- 
    <div class="footer-spacer"><hr></div> -->

    <footer>
      <div class="footer-container">

        <div class="footer-columns">

          <div class="footer-one">
            <h3>Animals</h3>
            <ul>
              <li>assign_human</li>
              <li>assign_vet</li>
              <li>create</li>
              <li>edit</li>
              <li>index</li>
              <li>new</li>
              <li>show</li>
              <li>update</li>
            </ul>
          </div>

          <div class="footer-two">
            <h3>Humans</h3>
            <ul>
              <li>create</li>
              <li>edit</li>
              <li>index</li>
              <li>new</li>
              <li>show</li>
              <li>update</li>
            </ul>
          </div>

          <div class="footer-three">
            <h3>Medicines</h3>
            <ul>
              <li>index</li>
            </ul>
            <h3>Notes</h3>
            <ul>
              <li>create</li>
              <!-- <li>edit</li> -->
              <li>index</li>
              <li>new</li>
              <li>show</li>
              <!-- <li>update</li> -->
            </ul>
          </div>

          <div class="footer-four">
            <h3>Vets</h3>
            <ul>
              <li>create</li>
              <li>edit</li>
              <li>index</li>
              <li>new</li>
              <li>show</li>
              <li>update</li>
            </ul>

            <h4>About</h4>
          </div>

        </div>


          <div class="span">
              <div >
              App designed by
              </div><div>
                <a href="http://Chumchi.com"> Chumchi Designs</a>
              </div>
          </div>

      </div>

    </footer>
  </body>
</html>
