<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>St Tina's Hope</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/menu.css">
  </head>
  <body>

    <nav class="menu_container">

      <div class="menu">

        <div class ="left">
          <div class="home"><a href="/">Home</a></div>
          <div class="vets"><a href="/vets">Vets</a></div>
          <div class="animals"><a href="/animals">Animals</a></div>
          </div>

        <div class ="mid">
          <div class="logo">
            <a href="/">
              <img src="/images/logo.svg" alt="St Tinas Hope Logo">
            </a>
          </div>
        </div>

        <div class="right">
          <div class="humans"><a href="/humans">Humans</a></div>
          <div class="notes"><a href="/notes">Notes</a></div>
          <div class="notes"><a href="/medicines">Medicines</a></div>
        </div>

      </div>

    </nav>
    <%= yield %>
  </body>
</html>
