<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>St Tina's Hope</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/"><img src="/images/logo.svg" alt="St Tinas Hope Logo"></a></li>
        <li><a href="/vets">Vets</a></li>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/humans">Humans</a></li>
        <!-- <li><a href="/notes">Notes</a></li>
        <li><a href="/medicines">Medicines</a></li> -->
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
