.button {
  background-color: #66CC99;
  border: 0;
  color: #fff;
  padding: 0.8em 3%;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
    /* margin: 0em 0em; */
  font-family: 'Playfair Display', serif;
}

.non-button {
  background-color: #66CC99;
  border: 0;
  color: #fff;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
    /* margin: 0em 0em; */
  font-family: 'Playfair Display', serif;
}

.vet-delete, .vet-reinstate {
  background-color: #66CC99;
  border: 0;
  color: #fff;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  min-width: 9em;
  font-family: 'Playfair Display', serif;
}


.button a {
    color: #fff;
}

.button a:hover{
    color: #3366CC;
}

#animal-add, #human-add, #note-add {
  max-width: 25%;
  margin-top: 2%;}

.button-one, .button-two, .vet-reinstate, .vet-delete, .table-button {
    min-width: 5em;
    margin:0 0.2em
  }

.button.show {
  padding: 0.8em 0.8em;
}

.vet-buttons{
  justify-content: space-evenly;
      padding:0 0.2em;
}

a.table-button.button{
  background-color: #66CC99;
  color:#fff;
}
