table#main-index {
    border: 0px;
  }

tr.main {
  border: 0;
  border-bottom:0;
}
td.main {
padding: 3em;
border: 0;
}

#main-index .animals, #main-index .notes{
  background-color: #CCFFCC;
  border-radius: 3em;
  /* border: 3px #3366CC solid; */
  color: #fff;
}

#main-index .vets, #main-index .humans{
  background-color: #66CC99;
  border-radius: 3em;
  /* border: 3px #3366CC solid; */

  color: #fff;}
