*{
  margin:0;
  padding:0;
  /* box-sizing: border-box; */
}

/* Colours
Yellow - #FFCC66;
Red - #FF6633;
Green - #66CC99;
Blue - #3366CC;
Grey - #CCCCCC;
pink - #FFCCCC; */


a {
  text-decoration: none;
}

body{
  font-family: 'Lato', sans-serif;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.3em;
}

.body-container{
  display:flex;
  justify-content: center;
  margin-top: 10%;
  flex:1 0 auto;
  margin-bottom: 10%;
}

ul {
  list-style-type: none;
}

.flex-columns{
  display: flex;
  flex-direction: column;
}
.flex-rows{
  display: flex;
  flex-direction: row;

}

.justify-flex-start{
  display: flex;
  justify-content: flex-start;
  width:80%;
}

.flex-align-items-center{
  align-items: center;
}

.space-evenly{
  justify-content: space-evenly;
}
