table {
  border: 3px solid #66CC99;
  border-collapse: collapse;
  text-align: center;
}

th, td{
  border-left:solid 1px#66CC99;
  text-align: center;
}

tr {
  border-bottom: solid 1px #66CC99;
}

th {
  font-weight: 900;
  color: #fff;
  background-color:#66CC99 ;
  padding: 0.3em;
}

tr.even,tr.even a {
    background-color: #CCFFCC;
    color:#336699;


}

tr.odd, tr.odd a {
  background-color: #ffFFFF;
  color:#3366CC;
}

td{
  padding: 0.2em;
}

#main-index td{
padding: 3em;

}

#main-index .animals, #main-index .notes{
  background-color: #3366CC;
  border-radius: 3em;
  border: 3px #fff solid;
  color: #fff;
}

#main-index .vets, #main-index .humans{
  background-color: #66CC99;
  border-radius: 3em;
  border: 3px #fff solid;

  color: #fff;}
