<h1>Notes Page</h1>



<table>
  <tr>
    <td>Animal Name</td>
    <td>Note</td>
    <td>Author</td>
    <td>Timestamp</td>
  </tr>
  <% for note in @notes %>
  <tr>
    <td><%= note.id %></td>
    <td><%= note.body %></td>
    <td><%= note.vet_id %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan = "4">#Add_New_Note link</td>
  </tr>
</table>
